
@{
    ViewData["Title"] = "CartNavbar";
}

<nav class="navbar navbar-light bg-light shadow p-3 mb-5 bg-body rounded">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Blitz </a>

        <div class="d-flex me-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    User <i class="bi bi-person"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

